doctype html
html(lang="es")
  include head.pug
  body
    h2 Iniciar Sesi칩n
    form(id="login-form" action="/login" method="POST")
      label(for="login-email") Correo Electr칩nico:
      input(type="email" id="login-email" name="email" required)
      label(for="login-password") Contrase침a:
      input(type="password" id="login-password" name="password" required)
      button(type="submit") Iniciar Sesi칩n
