//- nav.pug
include head.pug
nav
  ul
    li
      a(href="/products?categoria=Camisetas") Camisetas
    li
      a(href="/products?categoria=Pantalones") Pantalones
    li
      a(href="/products?categoria=Zapatos") Zapatos
    li
      a(href="/products?categoria=Accesorios") Accesorios
    li
      a(href="/login") Iniciar sesion
