//- nav.pug
nav
  ul
    li
      a(href="/categoria/camisetas") Camisetas
    li
      a(href="/categoria/pantalones") Pantalones
    li
      a(href="/categoria/zapatos") Zapatos
    li
      a(href="/categoria/accesorios") Accesorios
    li
      a(href="/login") Iniciar sesion
